# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Django
db.sqlite3
media/
staticfiles/

# Python Packaging
*.egg-info/
build/
dist/
